html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css for the header and banner */

body{
    font: source-sans-pro Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}
.header-img{
    
    background-image: url("./images1/headphones_hero_1.jpg");  
    background-position: center; 
   
}
nav {
    display: flex;
    justify-content: center;
    width: 1000.39px;
    height: 32px;
    margin-bottom: 325.24px;
}

span {
    width: 161px;
    height: 32px;
    margin-left: 120px;
    margin-top: 14.76px;
 
} 
span img{
    width: 114.12px;
    height: 12.06px;
}

 ul {
    margin-left: auto;
    width: 255px;
    height: 15px;
    margin-top: 10px;
    margin-right: 100px;
    
}

li {
    display: inline-block;
    padding: 6px
    
}

a {
     text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
} 

a:hover {
    color:#FF6565 ;
}

.lorem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lorem h1{
    align-content: center;
    width: 578px;
    height: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #ffffffff;
}

.lorem .first{
    align-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffffff;
    margin-bottom: 40px;
    width: 355px;
    height: 20px;
}
 .lorem button{
    width: 162px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffffff;
    background-color: #FF6565;
    border-radius: 20px;
    border: none;
    margin-bottom: 65px;
}
.lorem button:hover{
    color: #000;
    box-shadow: #FF6565;
    background-color: rgb(152, 190, 237);
    transition: all linear ease-in;
}
 .last{
    width: 638px;
    height: 104px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffffff;
    margin-bottom: 102px;
    align-content: center;
} 

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  ul li {
    display: none;
  }


  .lorem {
    flex-direction: column;
  }
  .lorem h1{
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }

  .lorem .last{
    font-size: 10px;
    text-align: center;
    padding: 10px;
  }
}
/* CSS FOR THE WHAT WE DO SECTION */
.leading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 184px;
    margin-top: 100px;
    margin-bottom: 110px;
}
.leading h2{
    font-size: 32px;
    font-weight: lighter;
    width: 190px;
    height: 40;
    color: #071629;
    margin-bottom: 40px;
}
.leading p{
    font-family: Source Sans Pro;
    width: 637px;
    height: 104px;
    font-size: 16px;
    color: #071629;
    line-height: 26px;
    text-align: center;
    margin-bottom: 97px;
}
.leading2{
    display: grid;
    grid-template-columns: repeat(4, 207px);
    
    height: 180px;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 110px;

}
.leading2 div img{
    margin: 0px 56px 24px 56px;
}
.leading2 div h3{
    width: 207px;
    height: 26px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    margin-bottom: 13px;
}
.leading2 div p{
    width: 207px;
    height: 52px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}