html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css for the header and banner */

body{
    font: source-sans-pro Arial, Helvetica, sans-serif;
    /* max-width: 1000px;
    margin: 0 auto; */
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.header-img{
    
    background-image: url("./images1/headphones_hero_1.jpg");  
    background-position: center; 
   
}
nav {
    display: flex;
    justify-content: center;
    width: 1000.39px;
    height: 32px;
    margin-bottom: 325.24px;
}

span {
    width: 161px;
    height: 32px;
    margin-left: 120px;
    margin-top: 14.76px;
 
} 
span img{
    width: 114.12px;
    height: 12.06px;
}

 ul {
    margin-left: auto;
    width: 255px;
    height: 15px;
    margin-top: 10px;
    margin-right: 100px;
    
}

li {
    display: inline-block;
    padding: 6px
    
}

a {
     text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
} 

a:hover {
    color:#FF6565 ;
}

.lorem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lorem h1{
    align-content: center;
    width: 578px;
    height: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #ffffffff;
}

.lorem .first{
    align-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffffff;
    margin-bottom: 40px;
    width: 355px;
    height: 20px;
}
 .lorem button{
    width: 162px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffffff;
    background-color: #FF6565;
    border-radius: 20px;
    border: none;
    margin-bottom: 65px;
}
.lorem button:hover{
    color: #000;
    box-shadow: #FF6565;
    background-color: rgb(152, 190, 237);
    transition: all linear ease-in;
}
 .last{
    width: 638px;
    height: 104px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffffff;
    margin-bottom: 102px;
    text-align: center;
} 

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  ul li {
    display: none;
  }


  .lorem {
    flex-direction: column;
  }
  .lorem h1{
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }

  .lorem .last{
    font-size: 10px;
    text-align: center;
    padding: 10px;
  }
}
/* CSS FOR THE WHAT WE DO SECTION */
.leading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 184px;
    margin-top: 100px auto;
    margin-bottom: 110px;
}
.leading h2{
    font-size: 32px;
    font-weight: lighter;
    width: 190px;
    height: 40;
    color: #071629;
    margin-bottom: 40px;
}

.leading p{
    font-family: Source Sans Pro;
    width: 637px;
    height: 104px;
    font-size: 16px;
    color: #071629;
    line-height: 26px;
    text-align: center;
    margin-bottom: 97px;
}
.leading2{
    display: grid;
    grid-template-columns: repeat(4, 207px);
    
    height: 180px;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 110px;

}
.leading2 div img{
    margin: 0px 56px 24px 56px;
}
.leading2 div h3{
    width: 207px;
    height: 26px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    margin-bottom: 13px;
}
.leading2 div p{
    width: 207px;
    height: 52px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

@media screen and (max-width:480px){
    .leading{
        width: 325px;
        height: 288px;
        margin-top: 110px;
        margin-bottom: 110px;
    }
    .leading h2{
        font-size: 20px;
        width: 120px;
        color: #aa97f2;
        font-weight: bold;
        margin-top: 110px;
        
    }
    .leading p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
        line-height: 12px;
        height: 110px;
        width: 350px;
        text-align: justify;
        background-color: aquamarine;
    }
    .leading2{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 207px;
        height: 1020px;
        margin-top: 110px;
        margin-bottom: 110px;
    }
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 207px;
        height: 180px;
    }
    .leading2 div img{
        width: 90.2px;
        height: 30.36px;
    /* margin: 0px 56px 24px 56px; */
}
.leading2 div h3{
    width: 100px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.leading2 div p{
    width: 207px;
    height: 52px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

}

/* CSS FOR OUR RESULTS SECTION */
 .what-we-do {
    background-image: url("./images1/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.leading3{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.leading3 h2{
    font-size: 30px;
    font-weight: bold;
    width: 448px;
    height: 40px;
    color: #ffffffff;
    justify-content: center;
    margin-top: 141px;
    margin-bottom: 40px;
}
.leading3 p{
    color: #ffffffff;
    width: 637px;
    height: 104px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 56px;
}

@media screen and (max-width: 480px){
    .leading3{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.leading3 h2{
    font-size: 32px;
    font-weight: bold;
    width: 266px;
    height: 80px;
    color: #ffffffff;
    justify-content: center;
    margin-top: 141px;
    margin-bottom: 40px;
}
.leading3 p{
    color: #ffffffff;
    width: 305px;
    height: 208px;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    margin-bottom: 56px;
}
}

.penta{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative; 
   width: 190px;
   height: 190px;
   margin-left: 50px;
   margin-bottom: 79px;
}
.container img{
    width: 190px;
    height: 190px;
}
.posi h3{
    color: #ffffffff;
    font-size: 46px;
    font-weight: bold;
    width: 89px;
    height: 26px;
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
}
.posi p{
    color: #ffffffff;
   font-size: 14px;
   font-weight: normal;
   width: 111px;
   height: 26px;
   justify-content: center;
   align-content: center; 
}
.posi{
    position: absolute;
    bottom: 60px;
    left: 40px;
}

@media screen and (max-width:480px){
    .what-we-do {
     background-image: url("./images1/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 1500px;
}

.penta{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}  

}


/* styling the contact page */
.conclude {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 373px;
    margin: 110px auto;
    align-items: center;
}
.conclude h2 {
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #071629;
    width: 146px;
    height: 40px;
    padding: 8px;
    margin-bottom: 56px;
}
input[type=text] {
    width: 335px;
    height: 29px;
    margin-bottom: 45px;
    border: none;
    border-bottom: 2px solid rgb(230, 219, 219);
}
input[type=email] {
    width: 335px;
    height: 29px;
    margin-bottom: 45px;
    border: none;
    border-bottom: 2px solid rgb(230, 219, 219);
}
.conclude button {
    color: white;
    border-radius: 32px;
    border: none;
    padding: 10px;
    background-color: #FF6565;
    margin-bottom: 56px;
}
.conclude button:hover {
    background-color: #000;
} 
/* footer styling */
footer {
    background-color:#071629 ;
    height: 249px;
    width: 100%;
}
.give{
    /* position: relative;  */
} 
.give span img{
    position: absolute;
    width: 161px;
    height: 32px;
    top: 100px;
}

 .fa{
    position: relative;
    width: 30px;
    height: 30px;
    background: rgb(237, 230, 230); 
    color: rgb(6, 3, 3);
    border-radius: 20px;
} 

a.fa.fa-twitter {
    position: absolute;
    top: 90px;
    left: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
} 
a.fa.fa-instagram {
    position: absolute;
    top: 90px;
    left: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
a.fa.fa-facebook {
    position: absolute;
    top: 90px;
    left: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
footer .sp {
    color: white;
    left: 350px;
    top: 200px;
}

@media only screen and (max-width:480px) {
    footer {
    background-color:#071629 ;
    height: 249px;
    width: 768px;
}
    footer .sp{
    position: absolute;
    color: white;
    left: 50px;
    top: 200px;
}

a.fa.fa-facebook {
    position: absolute;
    top: 50px;
    left: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

a.fa.fa-twitter {
    position: absolute;
    top: 50px;
    left: 210px;
   display: flex;
   justify-content: center;
   align-items: center;
} 
a.fa.fa-instagram {
    position: absolute;
    top: 50px;
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

}

/*  creating pentagon using HTML and CSS*/

.pentagon {
  width: 190px;
  height: 190px;
  background-color: #FF6565;
  clip-path: polygon(
    50% 0%,     /* top */
    100% 38%,   /* top right */
    82% 100%,   /* bottom right */
    18% 100%,   /* bottom left */
    0% 38%      /* top left */
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
/* ANIMATION FOR SOME SECTIONS */
.leading h2 {
    background-color: bisque;
    border: 2px solid rgb(215, 26, 26);
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function:ease-in
     transition: delay 1px;
} 



.leading2 div img {
    background: #78e1b0;
    border: 3px solid darkblue;
    height: 80%;
    transition: trasform 3s ease-out 1s ;
}

.leading2 div img:hover {
    transform: scale(1.2);
}

@keyframes slide-again {
    from{
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
} 

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.leading {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.scale {
  transition: transform 0.3s ease;
}

.scale:hover {
  transform: scale(1.1);
}


.pentagon:hover {
  transform: rotate(10deg);
  transition: transform 2s ease;
}

@media only screen and (min-width:600px){
    .reduce {
        display: none; 
    }
}

@media only screen and (max-width:600px){
    nav a{
        display: none;
    }

    .reduce {
        height: 80px;
        width: 80px;
        justify-content: space-between;
    }
    .lorem h1 {
        font-size: 1.5em;
    }
    .lorem p {
        font-size: small;
        text-align: center;
    }

    .leading p {
        text-align: center;
        font-size: small;
    }
    
   .give a {
    position: absolute;
    top: 70px;
   }
   /* footer span {
    left: 30px;
   } */
}