body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}

header,h1{
    background-color: blueviolet;
    color: white;
}

footer{
    background-color: blueviolet;
    color: white;
    margin-top: 30px;
}

footer a{
    border: 5px solid black;
    background-color: aliceblue;
    color: purple;
}

.goto{
    border: 10px solid black;
    background-color: rgb(21, 69, 212);
    width: 600px;
    height: 60px;
    padding: 10px;
    margin-bottom: 15px;
}



