body{
    display: flex;
    flex-direction: column;
    background-color: rgba(140, 204, 210, 0.612);
    
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    
}
aside{
    flex: 1;
    overflow-y: auto;
}
header{
   background-color: rgb(180, 183, 218);
}
footer{
    justify-content: center;
	align-items: center;
    background-color: rgb(179, 128, 83);
}


